* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px 20px;
    background-color: rgb(141, 85, 85);
}

#container{
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
    padding: 16px;
    border-radius: 8px;
    overflow: auto;
}

.box {
    float: left;
    margin: 8px;
    width: 154px;
    height: 330px;
    border: 1px solid #840a0a;
    border-radius: 8px;
    overflow: hidden;
}

.box-image{
    width:  154px;
    height: 220px;
    object-fit: cover;
}

.pink {
    background-color: #fda1b6;
}

.yellow {
    background-color: #ffb91d;
}

.blue {
    background-color: #3e33f8;
}

.red {
    background-color: #fd4636;
}