* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

#main {
    display: flex;
    flex: 1;
}

#main > article {
    flex: 1;
    order: 1;
    padding: 1.5em;
    background: #ffffff;
}

#main > nav,
#main > aside {
    flex: 0 0 20vw;
    padding: 1.5em;
}

#main > aside {
    background: #9bd8d8;
    order: 2;
}

#main > nav {
    background: #c2bbda;
    order: 3;
}

footer {
    background-image: linear-gradient(to bottom, #fff, #86f4f4);
    height: 100px;
    padding: 1.5em;
    text-align: center;
}

header {
    background-image: linear-gradient(to bottom, #86f4f4, #fff);
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0.5em 1em;
    margin: 0;
    height: 100%;
}

header li {
    margin: 0 1em;
}

header li.logo {
    margin-right: auto;
}

header img.logo {
    height: 50px;
    width: auto;
    display: block;
}

h2, h3 {
    margin-top: 0;
}

#main > nav ul {
    padding-left: 20px;
}

#main > nav li {
    margin-bottom: 10px;
}   